<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data from server to client</title>
</head>
<body>
    <h1>Data from server to client </h1>
    <p>Here we have python on our backend using flask, which is a web framework.<br>
     With github repository, here we can deploy are website using heroku.<br></p>
    <div id="server-data"></div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>







